{%- liquid
  assign s = section.settings
  assign video_alt = s.video.alt | default: s.text | default: shop.name
  assign video_alt_escaped = video_alt | strip_html | escape
-%}

<div class="rounded tm--video-wrapper">
  {{
    s.video
    | video_tag:
      image_size: '2048x',
      autoplay: true,
      loop: true,
      controls: false,
      muted: true,
      preload: 'none',
      class: 'tm--video',
      alt: video_alt_escaped
  }}
</div>

<div class="tm--content rounded">
  <div class="tm--text h3">
    {{- s.text -}}
  </div>
  {% if s.button_text != '' %}
    <a href="{{- s.button_url -}}" class="button tm--button hover-scale">
      {{- s.button_text -}}
    </a>
  {% endif %}
</div>

{% stylesheet %}
.tm {
overflow: hidden;
position: relative;
}

.tm--content {
background: var(--color-sand);
overflow: hidden;
position: relative;
padding: calc(var(--padding) * 2) var(--padding) calc(var(--padding) * 8);
}

.tm--video-wrapper {
overflow: hidden;
position: relative;
}

.tm--video {
width: 100%;
height: 100%;
display: block;
object-fit: cover;
object-position: center;
}

.tm--text {
display: block;
position: relative;
padding-bottom: calc(var(--padding) * 2);
}

@media (width >= 47rem) {
.tm {
  height: 100svh;
  min-height: var(--min-height);
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tm--text {
  max-width: calc(var(--padding) * 20);
  padding-bottom: var(--padding);
}

.tm--button {
  max-width: calc(var(--padding) * 20);
  width: 100%;
}

.tm--content {
  padding-top: var(--padding);
  padding-right: calc(var(--padding) * 2);
  display: flex;
  flex-direction: column;
  align-items: end;
}
}
{% endstylesheet %}

{% schema %}
{
  "name": "Text Media",
  "class": "tm rounded mt--1",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Learn more"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Text Media"
    }
  ]
}
{% endschema %}
